lab07/oauth.wadl

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
             xmlns="http://wadl.dev.java.net/2009/02"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

    <!-- Base defines the domain and base path of the endpoint -->
    <resources base="http://test-4g-prod.apigee.net/v2">

        <!-- A simple resource with a GET method -->
        <resource path="/getmovie/">
            <!-- Resources that are the same but have multiple verbs can have multiple method items in the WADL. -->
            <!-- Methods should each have a unique id. -->
            <!-- The attribute displayName can be used to control the name that appears in the list in the Console. -->
            <method id="getMovieJson" name="GET" apigee:displayName="Get Latest Movie in JSON">

                <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
                <apigee:tags>
                    <apigee:tag primary="true">Movies</apigee:tag>
                    <apigee:tag>Tag 2</apigee:tag>
                </apigee:tags>

                <!-- Is authentication required for this method? -->
                <apigee:authentication required="true"/>

                <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
                <!-- Note: This is not used by the new Console -->
                <!--  <apigee:example url="/resource1"/> -->

                <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
                <doc apigee:url="http://api.mydomain.com/doc/resource1/method1">
                    A simple GET method.
                </doc>
            </method>
        </resource>

        <!-- A resource with a GET method that requires a template parameter, a query parameter and a header -->
        <resource path="/getmovie/">
            <!-- If a param is required, specify so. Default values can also be supplied. -->
            <!-- A "query" style denotes a query parameter. "header" is a common alternative. -->

<!--             <param name="format" required="true" type="xsd:string" style="template" default="json"> -->
                <!-- Docs are optional, but recommended. -->
      <!--           <doc>Response format.</doc>
                <option value="json" mediaType="application/json"/>
                <option value="xml" mediaType="application/xml"/>
            </param>

            <param name="param1" required="true" type="xsd:string" style="query" default="12345">
                <doc>
                    Parameter description.
                </doc>
            </param> -->

            <param name="Accept" required="true" type="xsd:string" style="header" default="application/xml">
                <doc>
                    This will be needed for returning XML
                </doc>
            </param>

            <method id="getMovieXml" name="GET" apigee:displayName="Get Latest Movie in XML">
                <apigee:tags>
                    <apigee:tag primary="true">Movies</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="/resource2.{format}"/>

                <doc apigee:url="http://api.mydomain.com/doc/resource2/method1">
                    A GET method that requires a template parameter, a query parameter and a header.
                </doc>
            </method>
        </resource>

    </resources>

</application>
